@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --background-color: #184D47;
    --second-background-color: #035956;
    --main-text-color: #baf5d3;
    --accent-color: #00ffd9;
    --button-color: #00ffd9;
    --button-hover-color: #67ffe8;
    --switch-off-color: #46ac9c;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Anuphan', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--accent-color);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 12px;
  
}

html {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    min-width: 800px;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--second-background-color);
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 20px;
    height: 100px;

    color: var(--main-text-color);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book {
    background-image: linear-gradient(to right, var(--button-color) 0%, var(--button-hover-color)  100%);
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    align-self: self-end;
}

.add-book:hover {
    cursor: pointer;
    background-image: none;
    background-color: var(--main-text-color);
}

.new-book {
    padding: 64px;
    background-color: var(--main-text-color);
    border: 3px solid var(--switch-off-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: transform .3s ease-in-out, opacity .4s ease;
    transform: translate(-50%, -100%);
    pointer-events: none;
    opacity: 0%;
    text-align: center;
    font-size: 1.3rem;
}

.new-book.show {
    transform: translate(-50%, -50%);
    opacity: 100%;
    pointer-events: all;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    color: var(--background-color);
}

input {
    background: var(--second-background-color);
    padding: 7px 10px;
    font-size: 1.2rem;
    color: var(--main-text-color);
}

.new-book div:nth-child(3) input {
    width: 100px;
}

input:focus {
    background: var(--button-hover-color);
    color: var(--background-color);
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--second-background-color) inset !important;
    -webkit-text-fill-color: var(--main-text-color) !important;
}

.is-read {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider-green {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-off-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-green:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main-text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-green {
  background-color: var(--background-color);
}

input:focus + .slider-green {
  box-shadow: 0 0 1px #66B032;
}

input:checked + .slider-green:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-green.round {
  border-radius: 30px;
}

.slider-green.round:before {
  border-radius: 50%;
}

#add-book {
    border: 2px solid var(--background-color);
    background-color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    color: var(--background-color);
}

#add-book:hover {
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

#close-modal {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 32px;
    padding: 5px 10px;
}

#close-modal:hover {
    cursor: pointer;
    background-color: var(--switch-off-color);
}

.collection-container {
    margin: 30px;
    width: 60vw;
    min-width: 500px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
}

.book {
    background-color: var(--main-text-color);
    padding: 20px;
}

.book h2 {
    color: var(--second-background-color);
    border: 2px solid var(--second-background-color);
    padding: 5px 10px;
}

.book h3 {
    color: var(--second-background-color);
    font-weight: 500;
    margin-top: 5px;
}

.details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.pages-container {
    display: flex;
    align-items: center;
}

.pages-container p:nth-child(1) {
    border: 1px solid var(--second-background-color);
    background-color: var(--second-background-color);
    padding: 5px 10px;
    color: var(--main-text-color);
}

.page {
    border: 1px solid var(--second-background-color);
    padding: 5px 10px 5px 20px;
    margin-left: -10px;
    color: var(--second-background-color);
}

.isRead {
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 5px 10px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.read-button {
    border: 2px solid transparent;
    background-image: linear-gradient(to right, #02ceac 0%, #10d8c7 100%);
    padding: 5px 10px;
    font-size: 1rem;
    color: var(--background-color);
    font-weight: 500;
}

.read-button:hover {
    cursor: pointer;
    background-image: none;
    background-color: #02ceacb0;
}

.remove-button {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--second-background-color);
    padding: 2.5px 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--second-background-color);
}

.remove-button:hover {
    cursor: pointer;
    background-color: var(--second-background-color);
    color: var(--main-text-color);
}

.already-read {
    border: 1px solid var(--second-background-color);
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    padding: 5px 10px;
}

.not-read {
    border: 1px solid var(--second-background-color);
    background-color: transparent;
    color: var(--background-color);
    padding: 5px 10px;
}
